<!DOCTYPE HTML>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
    <div layout:fragment="content">
        <table>
            <tr><th>Id</th><th>Nazwa</th><th>Adres</th><th>Telefon</th><th>link</th></tr>
            <tr th:each="department: ${departments}">

                <td>
                    <span th:text="${department.departmentId}">department id</span>
                </td>
                <td>
                    <span th:text="${department.name}">department name</span>
                </td>
                <td>
                    <span th:text="${department.address.street} + ' ' + ${department.address.addressLine2} + ' ' +
                                        ${department.address.postCode} + ' ' + ${department.address.city} + ' ' +
                                        ${department.address.state}">department address</span>
                </td>
                <td>
                    <span th:text="${department.phoneNumber}">department phoneNumber</span>
                </td>
                <td>
                    <a th:href="@{|/api/departments/${department.departmentId}|}">link</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>