<!DOCTYPE HTML>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="fileHeader">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no" />
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/mdb.min.css" th:href="@{/css/mdb.min.css}" rel="stylesheet"/>
    <!-- fonts -->
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          th:href="@{https://use.fontawesome.com/releases/v5.8.2/css/all.css}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext"
          th:href="@{https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext}" rel="stylesheet" />

    <!--	remote files
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <link href="css/style.css" rel="stylesheet" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    -->
</head>
<body>
    <div>
        <header>
            <div class="mb-1 navbar navbar-expand-lg navbar-dark lighten-1 sticky-top header-bg-color" th:insert="fragments/header :: header">The Static Header</div>
        </header>
        <nav class="nav-side-menu">
            <div sec:authorize="isAuthenticated()">
                <div th:insert="estimator/fragments/sidenav :: sidenav">The Static Sidenav</div>
            </div>
            <div sec:authorize="hasAnyRole('ROLE_ESTIMATOR')">
                <div th:insert="estimator/fragments/sidenav :: sidenav">The Static Sidenav</div>
            </div>
            <div sec:authorize="hasRole('ROLE_TRADER')">
                <div th:insert="trader/fragments/sidenav :: sidenav">The Static Sidenav</div>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <div th:insert="admin/fragments/sidenav :: sidenav">The Static Sidenav</div>
            </div>
            <div sec:authorize="hasRole('ROLE_MANAGER')">
                <div th:insert="manager/sidenav :: sidenav">The Static Sidenav</div>
            </div>
        </nav>

        <main>
            <div layout:fragment="content" class="main container">The Static Content</div>
        </main>
        <footer>
            <div th:insert="fragments/footer :: footer" class="footer container">The Static Footer -  &copy; 2019 ulman.dev</div>
        </footer>
    </div>

    <span th:fragment="scriptInput">
    <script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    </span>
</body>
</html>
