<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout :: fileHeader">
    <title>Log in</title>
</head>
<body>
<div class="container">
    <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-user"></i> <span th:text="#{loginPage.header}"> Please Login</span>
            </div>
            <div class="card-block" style="padding: 24px;">
                <form name="f" th:action="@{/login}" method="post">
                    <fieldset>
                        <!-- Thymeleaf + Spring Security error display -->
                        <div th:if="${param.error}" class="alert alert-danger">
                            <span th:text="#{loginPage.errorLog}" Invalid username and password.</span>
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            <span th:text="#{loginPage.logout}" You have been logged out.</span>
                        </div>
                        <!-- Login Controls -->
                        <div class="form-group">
                            <label for="username" th:text="#{loginPage.user}">Username</label>
                            <input type="text" class="form-control" id="username" name="username"
                                   placeholder="Username" th:placeholder="#{loginPage.user}">
                        </div>
                        <div class="form-group">
                            <label for="password" th:text="#{loginPage.password}">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Password" th:placeholder="#{loginPage.password}">
                        </div>

                      <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
                            <label class="form-check-label" for="remember-me" th:text="#{loginPage.rememberMe}">Remember me?</label>
                        </div>

                        <!-- Login Button -->
                        <div class="form-actions" style="margin-top: 12px;">
                            <button type="submit" class="btn btn-success" th:text="#{loginPage.loginButton}">Log in</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<span th:insert="layout :: scriptInput"></span>
</body>
</html>